<div id="vertical-banner">
    <div id="ad-indicator">Advertisement. The content of this box is not related to Sozi.</div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Verticales -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8160649761197853"
         data-ad-slot="6912343509"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
